div input::-webkit-outer-spin-button,
div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
div input[type="number"] {
  -moz-appearance: textfield;
}
.new_site {
  margin-bottom: 20px;
  width: 100%;
  height: 32px;
}
.new_site /deep/ button {
  float: right;
  width: 100px;
}
.edit {
  margin-bottom: 20px;
  width: 240px;
  height: 32px;
  padding-left: 10px;
  margin-left: 10px;
}
.table_box .page_box {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
}
.table_box .page_box .page_left {
  width: 25%;
  font-size: 12px;
  color: #2d8cf0;
  display: flex;
  flex-direction: row;
}
.table_box .page_box .page_right {
  width: 75%;
  display: flex;
  flex-direction: row-reverse;
}
.table_box .page_box .page_right .ivu-page-item-active {
  border-color: #2d8cf0;
}
.pages {
  margin-top: 20px;
}
.edit_modal .ivu-modal {
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -260px;
}
.edit_modal .edit_box .edit_single {
  margin-bottom: 20px;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.edit_modal .edit_box .edit_single p {
  line-height: 32px;
  font-size: 16px;
  margin-right: 15px;
  width: 120px;
}
.edit_modal .edit_box .edit_single .inclued {
  color: red;
}
.edit_modal .edit_box .edit_single .price_text {
  margin-left: 10px;
  width: auto;
}
.edit_modal .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.edit_modal .footer .cancle_btn {
  margin-right: 40px;
}
.edit_modal .footer Button {
  width: 80px;
}
.delete_box .ivu-modal {
  margin-top: 200px;
}
.delete_box .ivu-modal .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.delete_box .ivu-modal .footer .cancle_btn {
  margin-right: 40px;
}
.delete_box .ivu-modal .footer Button {
  width: 80px;
}
.delete_box .ivu-modal .ivu-modal-body {
  text-align: center;
}
.delete_box .content {
  text-align: center;
  padding: 40px 20px;
  font-size: 18px;
  color: #333333;
}
.delete_box .ivu-modal-body {
  text-align: center;
}
